.news {
    width: 22%;
    height: 200px;
    background-color: lightgray;
}

.news-articles {
    width: 100%;
    padding: 30px 5%;
    background-color:red;
    display: flex;
    column-gap: 4%;
}

.header{
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
}

input{
    width: 20%;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}